@import '../colors.css';

#components-settings-container {
    background-color: var(--gray);
    z-index: 100;
    position: absolute;
    height: 80%;
    top: 5em;
    right: 1em;
    width: 70%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-radius: 0.5em;
    display: flex;
    padding-right: 0%;
    flex-direction: column; /* Элементы выстраиваются сверху вниз */
    padding: 0.5em;
}

/* open-component-settings-button */