#side-menu-container {
    position: absolute;
    height: 80%;
    top: 5em;
    left: 1em;
    width: 20%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-right: 0.5em solid var(--charcoal-hover);
    border-radius: 0.5em;

    display: flex;
    padding-right: 0%;
    flex-direction: column; /* Элементы выстраиваются сверху вниз */
    padding: 0.5em;
}

.side-menu-button {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color: var(--pearl);
    text-decoration: none;
    font-size: 2em;
    padding: 0.3em;
    transition: all 0.2s ease-in-out;
}

.side-menu-button:hover {
    border-left: 0.5rem solid var(--light);
}
/* Меню выбора сборки */
.hidden {
    display: none;
}
.side-menu-button.active {
    background-color: lightblue;
}


/*  Кнопка выбора сборки */
.build-button {
    font-size: 2em;
    background-color: transparent;
    color: var(--pearl);
    background-color: var(--gray);
    border: none;
    border-radius: 0.5em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    padding: 0.5em;
    transition: all 0.2s ease-in-out;
}

.build-button:hover {
    background-color: var(--gray-hover);
}

#builds-menu {
    z-index: 1000;
    position: absolute;
    /* background: white; */
    /* border: 1px solid black; */
    /* padding: 10px;/ */
}

#builds-list {
    position: absolute;
    top: 1em;
    left: 10em;
    padding: 0.5em;
    width: 20em;
    /* left: 2em; */
    /* background-color: aquamarine; */
    /* width: auto; */
    background-color: var(--charcoal);
    color: var(--pearl);
    border: solid 0.2em var(--pearl);
    border-radius: 0.5em;
    margin: 0.5em;
    max-height: 10em; /* Фиксируем высоту списка */
    overflow-y: auto; /* Добавляем прокрутку при необходимости */

    scrollbar-color: var(--pearl) var(--charcoal);
}

/* Настройки ползунка */
#builds-list::-webkit-scrollbar {
    /* width: 8px;  */
    background-color: var(--charcoal);
    background-color: var(--light);
}

#builds-menu::-webkit-scrollbar-track {
    background: var(--light); /* Цвет фона */
    border-radius: 4px;
}

#builds-menu::-webkit-scrollbar-thumb {
    background: var(--pearl);
    /* background-color: var(--light); */
    border-radius: 4px;
    /* border-radius: 4px; */
}
#builds-menu::-webkit-scrollbar-thumb:hover {
    background: var(--pearl); /* Цвет при наведении */
}

#builds-list li {
    list-style-type: none;
    text-align: left;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    border-radius: 0.2em;
    background-color: var(--charcoal);
    color: var(--pearl);
    /* text-decoration: none; */
    font-size: 2em;
    padding: 0.3em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    cursor: pointer;
    /* margin: 0.2em;
    margin-left: 0.2em; */

    transition: all 0.2s ease-in-out;
}
#builds-list li:hover {
    background-color: var(--charcoal-hover);
}
