:root {
    --light: #EEE5DA;
    --charcoal: #262424; 
    --gray: #536878;
    --gray-hover: #465c6c;
    --pearl: #EAE0C8;
}


body {
    font-family: Arial, sans-serif;
    background-color: var(--charcoal);
    text-align: center;
}

.text {
    color: var(--pearl);
    font-size: 4em;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5em;
    background-color: var(-light);
    padding: 2em;
    font-size: 1em;
    border-radius: 1em;
    width: 30em;
    margin: 10em auto;
}

h2 {
    color: var(--charcoal);
}

input, button {
    padding: 1rem;
    margin-top: 1rem; 
    border: none;
    border-radius: 0.5rem;
    font-size: 2em;
}

input {
    background-color: var(--pearl);
    color: var(--charcoal);
    width: 80%;
}
input:focus {
    outline: none;
}

button {
    background-color: var(--gray);
    color: var(--pearl);
    cursor: pointer;
    width: 40%;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: var(--gray-hover);
    color: var(--pearl);
    animation-duration: 100ms;
}

.error {
    color: red;
    font-size: 14px;
}
