<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    <link rel="icon" href="{{ url_for('static', filename='images/hoodwink.ico') }}" type="image/x-icon">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">
</head>
<body>
    <script src="{{ url_for('static', filename='scripts/profileScript.js') }}" defer></script>
    <script src="{{ url_for('static', filename='scripts/builds-menu.js') }}" defer></script>
    <div id="top-menu-container">
        <a href="{{ url_for('open_builds') }}" class="top-menu-button">Сборки</a>
        <a href="{{ url_for('open_wishlists') }}"  class="top-menu-button">Вишлист</a>
        <div id="profile-container">
            <a id="profile-icon">
                <img src="{{ url_for('static', filename='images/profile_icon.png') }}" alt="Профиль" onclick="toggle_menu()">
            </a>
            <div id="profile-menu">
                <a class="profile-menu-button"> {{ user_data['username'] }}</a>
                <a href="/profile" class="profile-menu-button">Профиль</a>
                <a href="{{ url_for('open_settings_page') }}" class="profile-menu-button">Настройки</a>
                <a href="{{ url_for('logout') }}" class="profile-menu-button">Выход</a>
            </div>
        </div>
    </div>
    <div id="side-menu-container">
        <!-- <div id="select-component-field">
            <input placeholder="Выбрать комплектующую">
        </div> -->
        <button id="select-build-button">Выбрать сборку</button>
        <div id="builds-menu" class="hidden">
            <ul id="builds-list"></ul>
        </div>

        <div id="components-container">
            <a href="{{ url_for('open_builds') }}" class="side-menu-button">CPU</a>
            <a href="{{ url_for('open_wishlists') }}" class="side-menu-button">GPU</a>
        </div>
        <button id="delete-build-btn" class="hidden">Удалить сборку</button>

    </div>
    <div id="components-settings-container">

    </div>
    
    {% block content %}{% endblock %}

</body>
</html>
