<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    <link rel="icon" href="{{ url_for('static', filename='images/hoodwink.ico') }}" type="image/x-icon">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">
</head>
<body>
    <script type="module" src="{{ url_for('static', filename='scripts/mainMenu.js') }}" defer></script>
    <script src="{{ url_for('static', filename='scripts/profileMenu.js') }}" defer></script>
    <!-- <script src="{{ url_for('static', filename='scripts/rightMenu.js') }}" defer></script>
    <script src="{{ url_for('static', filename='scripts/leftMenu.js') }}" defer></script>
    <script src="{{ url_for('static', filename='scripts/selectComponentMenu.js') }}" defer></script> -->
    <div id="top-menu-container">
        <a href="{{ url_for('open_builds') }}" class="top-menu-button">Сборки</a>
        <a href="{{ url_for('open_wishlists') }}"  class="top-menu-button">Вишлист</a>
        <div id="profile-container">
            <a id="profile-icon">
                <img src="{{ url_for('static', filename='images/profile_icon.png') }}" alt="Профиль" onclick="toggle_menu()">
            </a>
            <div id="profile-menu">
                <a class="profile-menu-button"> {{ user_data['username'] }}</a>
                <a href="/profile" class="profile-menu-button">Профиль</a>
                <a href="{{ url_for('open_settings_page') }}" class="profile-menu-button">Настройки</a>
                <a href="{{ url_for('logout') }}" class="profile-menu-button">Выход</a>
            </div>
        </div>
    </div>
    <div id="menu-container">
        <div id="left-menu-container">
            
        </div>
        <div class="border-vert"></div>
        <div id="main-menu-container">
            
            
        </div>
        <div class="border-vert"></div>
        <div id="side-menu-container">
            <button id="select-build-button" class="base-button build-button">Выбрать сборку</button>
            <div id="builds-menu" class="hidden">
                <ul id="builds-list"></ul>
            </div>
            <button id="create-build-button" class="base-button build-button">Создать сборку</button>
            <button id="delete-build-button" class="hidden base-button build-button">Удалить сборку</button>
            <button id="create-component-button" class="base-button build-button">Добавить комплектующую</button>
            <button id="change-component-button" class="base-button build-button">Изменить комплектующие</button>
        </div>
        {% block content %}{% endblock %}
    </div>
</body>
</html>
