@import 'base.css';

#login-container, #register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5em;
    background-color: var(-light);
    padding: 2em;
    font-size: 1em;
    border-radius: 1em;
    width: 30em;
    margin: 5em auto;
}